<%= form_for(@consultant) do |f| %>
  <% if @consultant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consultant.errors.count, "error") %> prohibited this consultant from being saved:</h2>

      <ul>
      <% @consultant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :clinic_id, "Clinic" %><br>
    <%= f.collection_select :clinic_id, Clinic.all, :id, :name, {prompt: "Choose clinic consultant belongs to"} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
