<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @consultant.name %>
</p>

<p>
  <strong>Clinic:</strong>
  <%= @consultant.clinic.name %>
</p>

<%= link_to 'Edit', edit_consultant_path(@consultant) %> |
<%= link_to 'Back', consultants_path %>
