<p id="notice"><%= notice %></p>

<h1>Listing Religions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @religions.each do |religion| %>
      <tr>
        <td><%= religion.name %></td>
        <td><%= link_to 'Show', religion %></td>
        <td><%= link_to 'Edit', edit_religion_path(religion) %></td>
        <td><%= link_to 'Destroy', religion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Religion', new_religion_path %>
