<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br>
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, options_for_select(Patient::Gender), {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_field :dob %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :religion_id %><br>
    <%= f.collection_select :religion_id, Religion.all, :id, :name, {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :occupation_id %><br>
    <%= f.collection_select :occupation_id, Occupation.all, :id, :name, {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :state, "State of Residence" %><br>
    <%= f.collection_select :state_id, State.all, :id, :name, {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :lga %><br>
    <%= f.collection_select :lga_id, Lga.all, :id, :name, {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :nationality %><br>
    <%= f.collection_select :nationality_id, Nationality.all, :id, :name, {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :next_of_kin %><br>
    <%= f.text_field :next_of_kin %>
  </div>
  <div class="field">
    <%= f.label :next_of_kin_phone %><br>
    <%= f.text_field :next_of_kin_phone %>
  </div>
  <div class="field">
    <%= f.label :consultant_id %><br>
    <%= f.collection_select :consultant_id, Consultant.all, :id, :name, {include_blank: true} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
