
<p><strong>MR No:</strong><%= @patient.mrn %></p>
<p>
  <strong>Surname:</strong>
  <%= @patient.surname %>
</p>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @patient.middle_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>
<p>
  <strong>State:</strong>
  <%= @patient.state.name %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @patient.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>
<p>
  <strong>Religion:</strong>
  <%= @patient.religion.name %>
</p>
<p>
  <strong>Occupation:</strong>
  <%= @patient.occupation.name %>
</p>
<p>
  <strong>Next of kin:</strong>
  <%= @patient.next_of_kin %>
</p>

<p>
  <strong>Next of kin phone:</strong>
  <%= @patient.next_of_kin_phone %>
</p>

<p>
  <strong>Consultant:</strong>
  <%= @patient.consultant.name %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
