<p id="notice"><%= notice %></p>

<h1>Listing Lgas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lgas.each do |lga| %>
      <tr>
        <td><%= lga.name %></td>
        <td><%= link_to 'Show', lga %></td>
        <td><%= link_to 'Edit', edit_lga_path(lga) %></td>
        <td><%= link_to 'Destroy', lga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lga', new_lga_path %>
